@font-face {
    font-family: 'FontSiteSansRoman';
    src: url('../fonts/FontSiteSans-Roman-webfont.eot');
    src: url('../fonts/FontSiteSans-Roman-webfont.eot?iefix') 
    format('eot'), url('../fonts/FontSiteSans-Roman-webfont.woff') 
    format('woff'), url('../fonts/FontSiteSans-Roman-webfont.ttf') 
    format('truetype'),url('../fonts/FontSiteSans-Roman-webfont.svg#webfont5UoCtSnz') 
    format('svg');
    font-weight: normal;
    font-style: normal;
}

*:focus {
    outline: none;
}

html, body {
    height: 100%;
}

body {
    background: url('../img/body-bg.png') repeat-x #fff;
    font-family: arial;
}

.hidden {
    display: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}

.container {
    width: 968px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.top {
    height: 50px;
    background: #000;
    padding: 30px 0;
}

.centered {
    margin: 0 auto;
    width: 968px;
}

.top .logo {
    background: url('../img/logo.png') no-repeat;
    height: 49px;
}

.menu {
    background: url('../img/navigation.jpg') repeat-x;
    height: 40px;
}

.menu ul li {
    float: left;
    height: 39px;
    padding: 0 0 0 20px;
}

.menu ul li:hover {
    background: #000 url('../img/home_active.png') repeat-x;
}

.menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 13px 20px 0 0;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu .active {
    background: #000 url('../img/home_active.png') repeat-x;
}

.shadow-border-menu {
    height: 6px;
    background: url('../img/shadow.png') repeat-x;
    margin: -1px 0 52px 0;
    border: none;
}

.content-left {
    float: left;
    width: 641px;
    margin: 0 10px 0 0;
}

.search {
    background: white;
    height: 183px;
    border: 1px solid #dddddd;
}

input[type="password"]
{
   margin: 0px;
}

.search-bar input[type="text"]::-webkit-input-placeholder {
    color: #d3327a;
}

.search-img {
    background: url('../img/preview.png') no-repeat;
    width: 150px;
    height: 150px;
    float: left;
    margin: 15px 15px 0 15px;
}

.search-box {
    float: left;
    width: 418px;
    margin: 15px 0 0 0;
}

.search-box p {
    width: 342px;
    font-size: 14px;
    color: #666666;
    margin: 15px 0 20px 0;
}

.user-field, .key-field{
    margin-top: 5px;
}

.search-bar, .user-field, .key-field {

    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 0 0 55px;
}

.search-bar{
        background: url('../img/search-3.png') no-repeat 10px 0px;
}

.user-field
{
     background: url('../img/user-2.png') no-repeat;
}

.key-field
{
     background: url('../img/key.png') no-repeat;
}

.search-box input, .key-field input, .user-field input {
    font-family: candara;
    color: #d3327a;
    outline: none;
    border: 1px solid;
    border-color: transparent;
    border: none;
    background: white;
    -webkit-appearance: none;
}

.search-box input
{
    width: 340px;
    padding: 8px;
    font-size: 21px;
}

.header {
    background: url('../img/article.jpg') repeat-x;
    height: 48px;
    color: white;
    line-height: 45px;
    padding: 0 0 0 180px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.question {
    background: white;
    height: 183px;
    border: 1px solid #dddddd;
}

.question-image {
    float: left;
    width: 150px;
    margin: 15px;
}

.question-info {
    float: left;
    width: 280px;
    margin: 15px 0 0 0;
}

.question-data{
    float: right;
    width: 160px;
    margin: 15px 16px 0 0;
    font-size: 12px;
    color: #d3327a;
    text-align: right;
    height: 100%;
    position: relative;
}

.question-data .date
{
    text-transform: capitalize;
}

.question-data .answers,
.question-data .votes
{
    position: absolute;
    display: block;
    text-align: left;
    width: 100%;
    margin-left: 28px
   
}

.question-data .answers
{
     bottom: 50px;
}

.question-data .votes{
    bottom: 30px;
}

.question-data .answers img,
.question-data .votes img
{
    margin-right: 5px;
}

.question-info .category {
    font-weight: bold;
    text-decoration: none;
    display: block;
    color: #323232;
    margin: 0 0 5px 0;
}

.question-info .category:hover {
    text-decoration: underline;
}

.question-info .title {
    text-decoration: none;
    color: #666666;
    margin: 0 0 5px 0;
}

.question-info .title:hover {
    text-decoration: underline;
}

.question-info p {
    line-height: 22px;
}

.content-right {
    float: left;
    width: 317px;
}

/* Right Sidebar */
.content-right .box
{
    width: 317px;
    min-height: 200px;
}

.content-right .box .head
{
    position: relative;
    top: 5px;
    background: url("../img/ribbon.png") no-repeat;
    width: 100%;
    height: 37px;
    z-index: 999;
}

.content-right .box .head h1
{
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding-left: 30px;
    padding-top: 10px;
}
.content-right .box .box-content
{
    position: relative;
    background-color: #fff;
    width: 300px;
    min-height: 250px;
    margin: 0px 10px;
    z-index: 998;
    top: -37px;
}

.content-right .box .box-content input[type="text"],
.content-right .box .box-content input[type="password"] 
{
    height: 27px;
    display: block;
}

.shadow-border
{
    margin: -5px 0 20px 0px;
}

.shadow-border-2
{
    margin: -43px 0px 0px 10px;
}
.shadow-border{
    background: url("../img/shadow_1.png") no-repeat left;
}

.shadow-border-2
{
    background: url("../img/shadow_2.png") no-repeat left;
    margin-bottom: 20px;
}

#login, #registreren
{
    position: absolute;
    top: 50px;
    text-align: center;
    left: 40px;
}

#login .login-box
{
    margin-top: 15px;
}

#login .login-box #switch
{
    width: 60px;
    height: 20px;
    float: left;
    margin-top: 2px;
    cursor: pointer;
}

#login .login-box span
{
    font-size: 11px;
    margin-left: -5px;
    line-height: 23px;
}

#login .login-box .switch-active
{
    background: url('../img/switch.png');
    background-position-y: 20px;
}

#login .login-box .switch
{
    background: url('../img/switch.png');
}

#registreren input[type="submit"]
{
    margin-top: 10px;
}

input[type="submit"]
{
    background: url('../img/navigation.jpg');
    color: #fff;
    float: right;
    border: 0px;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -5px;
}

/* icons */
.search-img {
    background: url('../img/preview.png') no-repeat;
    width: 150px;
    height: 150px;
    float: left;
    margin: 15px 15px 0 15px;
}

.password-img{
    background: url('../img/key.png') no-repeat;
    width: 150px;
    height: 32px;
    float: left;
}

.focus{
    border-color: #d3327a;
}

/* FOOTER */

.footer {
    background: url('../img/footer.png') repeat-x;
    width: 100%;
    height: 287px;
    padding: 20px 0;
    position: relative;
}

.footer-row {
    float: left;
    width: 239px;
    margin: 50px 0 50px 0;
}

.footer-row h2 {
    font-family: 'FontSiteSansCondensed', Helvetica, Arial, sans-serif;
    color: #bdbdbd;
    margin: 0 0 10px 0;
}

.footer-row ul li {
    padding: 5px 0 5px 20px;
    background: url('../img/arrow.png') no-repeat left;
}

.footer-row ul li a {
    color: #616161;
    text-decoration: none;
}

.footer-row ul li a:hover {
    text-decoration: underline;
}

.bottom span {
    color: #bdbdbd;
    font-size: 12px;
}

/* SEARCH RESULTS */

.search-input {
    width: 100%;
    padding: 10px;
    margin: 0 0 30px 0;
}

#results-questions {
    margin: 0 0 30px 0;
}

#results-questions li {
    margin: 0 0 10px 0;
}

#results-questions li a {
    text-decoration: none;
    font-size: 15px;
    font-family: arial;
    color: #000;
}

#results-questions li a:hover {
    text-decoration: underline;
    color: blue;
}

#loadmore {
    display: block;
    margin: 0 0 20px 0;
    background: url('../img/navigation.jpg');
    width: 100px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    padding: 6px 8px;
    border-radius: 4px;
}

/* ANSWERS */

.answer {
    background: white;
    height: 183px;
    border: 1px solid #dddddd;
}

.answer-image {
    float: left;
    width: 150px;
    margin: 15px;
}

.answer-info {
    float: left;
    width: 418px;
    margin: 15px 0 0 0;
}

.answer-info .category {
    font-weight: bold;
    text-decoration: none;
    display: block;
    color: black;
    margin: 0 0 5px 0;
}

.answer-info .category:hover {
    text-decoration: underline;
}

.answer-info .title {
    text-decoration: none;
    color: black;
    margin: 0 0 5px 0;
}

.answer-info .title:hover {
    text-decoration: underline;
}

.answer-info p {
    line-height: 22px;
}

/* CATEGORIES */

#categories h1 {
    font-size: 30px;
    margin: 0 0 30px 0;
    font-family: "Kristen ITC";
    background: #d8347e;
    border-radius: 6px;
    color: white;
    padding: 10px;
    text-align: center;
}

#categories .last {
    margin-right: 0;
}

#categories .category {
    padding: 10px;
    width: 270px;
    margin: 0 30px 30px 0;
    font-size: 20px;
    font-family: calibri;
    float: left;
    box-shadow: 1px 3px 3px #aaa;
    position: relative;
    background: #f8f8f8 url('../img/categories/6.png') no-repeat;
    border-radius: 4px;
    height: 150px;
}

#categories .category .name {
    font-size: 18px;
    font-family: calibri;
    background: #d8347e;
    font-weight: bold;
    color: white;
    display: block;
    margin: 0 0 50px -5px;
    padding: 2px;
    text-align: center;
    border-bottom: 2px solid #aa0d54;
}

#categories .category-question {
    font-size: 14px;
    position: absolute;
    background: transparent url('../img/categories/bg-cat-q.png') no-repeat;
    margin: 0 0 0 -10px;
    border-radius: 4px;
    padding: 5px;
}

#categories .category-question .cat-q {
    font-size: 14px;
    line-height: 20px;
    text-shadow: 0px 1px 0px white;
    color: #1f1f1f;
    display: block;
    margin: 0 0 10px 0;
    clear: both;
}

#categories .category-question .cat-a {
    font-size: 12px;
}

/* TOP 3 */

#top-3 {
    position: absolute;
    top: 60px;
}

#top-3 ul {
    margin: 0 0 0 10px;
}

#top-3 .favo {
    background: url('../img/favo.png') no-repeat left;
    padding: 0 0 0 40px;
    margin: 0 0 15px 0;
    line-height: 22px;
    width: 230px;
    height: 40px;
}

#top-3 .favo a {
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-family: candara;
}

#top-3 .favo a:hover {
    text-decoration: underline;
}
