@font-face {
    font-family:'Bebas';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont?#iefix') 
    format('embedded-opentype'), url('../fonts/BEBAS___-webfont.woff') 
    format('woff'),url('../fonts/BEBAS___-webfont.ttf') 
    format('truetype'), url('../fonts/BEBAS___-webfont.svg#Bebas') 
    format('svg');
    font-weight: normal;
    font-style: normal
}

body {
    background: url('../img/body-bg.png') repeat-x #fff;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}

#hidden {
    display: none;
}

.no-margin {
    margin: 0 !important;
}
.top {
    background: #d8347e;
    height: 30px;
    width: 100%;
    margin: 0 0 30px 0;
}

/* NAVBAR */

.navbar-inner{
    border-radius:0px;
    background: #d8347e !important; 
    background-image: none;
    background-repeat: no-repeat;
    filter: none !important;
    border-top:1px solid #cc412a !important;
    border-bottom:1px solid #cc412a !important;
    border-left:0px !important;
    border-right:0px !important;
    font-family: calibri;
}
.navbar .nav > li > a{
    padding:12px 15px 12px;
    color:#fff !important;
    text-shadow:none !important;
    1border-right: 1px solid #aa0d54;
    border-left:1px solid #aa0d54;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
}

.navbar .nav > li > a:hover{
    background:#aa0d54 !important;
    color:#fff !important;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
    color: #ffffff;
    box-shadow:none;
    background: #aa0d54 !important;
}
.navbar-inner .container {width:960px;}
/* LEFT */

.search {
    background: url('../img/header.png') no-repeat;
    height: 203px;
    padding: 50px 0 0 0;
    margin: 0 0 40px 0;
}

.search h1 {
    color: #fff;
    font-size: 25px;
    padding: 0 0 24px 275px;
    width: 400px;
    line-height: 30px;
    font-family: "Kristen ITC";
}

.search form {
    padding: 0 0 0 90px;
}

.search #field {
    padding: 20px 20px 20px 55px;
    width: 550px;
    font-size: 25px;
    color: #d8347e;
    font-family: "Kristen ITC";
    position: relative;
    border-radius: 12px;
    border: 6px solid #d8347e;
    line-height: 35px;
    background: url('../img/search.png') no-repeat 10px 15px #fff;
}

.search #field:focus {
    box-shadow: none;
}

input[type="search"]::-webkit-input-placeholder {
    color: #d8347e;
}

.search-button {
    background: url('../img/search-2.png') no-repeat right;
    width: 117px;
    height: 112px;
    position: absolute;
    margin: -130px 0 0 640px;
}

.popular {
    background: url('../img/arrow.png') no-repeat left;
    height: 85px;
    padding: 25px 0 0 80px;
    margin: 0 0 25px 0;
}

.popular h2 {
    background: #b3e269;
    padding: 10px;
    color: white;
    height: 40px;
    border: 2px solid #a8d167;
    border-radius: 6px;
    font-size: 35px;
    font-family: "Kristen ITC";
    text-align: center;
}

.question {
    background: #ebeef1;
    border: 3px solid #e0e2e3;
    border-radius: 6px;
    padding: 30px 10px;
    height: 100px;
    text-align: center;
    margin: 0 0 70px 0;
}

.question a:hover {
    text-decoration: none;
}

.question .answers {
    display: block;
    height: 83px;
    width: 83px;
    position: absolute;
    color: #fff;
    font-size: 30px;
    background: url('../img/answer-bg.png') no-repeat left;
    text-align: center;
    padding: 30px 0 0 0;
    font-family: "Kristen ITC";
    margin: -65px 0 0 -30px;
}

.question #category {
    display: block;
    position: absolute;
    color: #fff;
    font-size: 16px;
    background: #b3e269;
    text-align: center;
    padding: 10px;
    font-family: "Kristen ITC";
    border-radius: 6px;
    margin: -50px 0 0 150px;
}

.question .stars {
    display: block;
    position: absolute;
    width: 58px;
    height: 58px;
    background: url('../img/star.png') no-repeat center;
    margin: -70px 0 0 650px;
    padding: 30px 0 0 0;
    color: #0083d7;
    font-size: 25px;
    font-family: "Kristen ITC";
}

.question .print {
    display: block;
    position: absolute;
    width: 58px;
    height: 58px;
    background: url('../img/print.png') no-repeat center;
    margin: -55px 0 0 710px;
}

.question .q {
    color: #5f6b72;
    width: 600px;
    display: block;
    font-size: 23px;
    font-family: "Kristen ITC";
    line-height: 40px;
    height: 80px;
    margin: 0 0 0 50px;
}

.question .qhover {
    color: #5f6b72;
    width: 600px;
    display: block;
    font-size: 26px;
    font-family: "Kristen ITC";
    line-height: 40px;
    margin: 0 0 0 50px;
}

.question .qhover:hover {
    color: #5f6b72;
}

.question .q:hover {
    color: blue;
}

.question .tags {
    position: absolute;
    margin: 40px 5px 0 0;
}

.question .tags span {
    display: block;
    background: #d8347e;
    font-family: "Kristen ITC";
    font-size: 14px;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #d8347e;
    border-radius: 8px;
    float: left;
    text-transform: lowercase;
    margin: 0 5px 0 0;
}

.question .user {
    position: absolute;
    margin: 40px 0 0 215px;
    color: #000;
    font-size: 14px;
    max-width: 150px;
    width: 150px;
    border: 1px solid;
    background: #b3e269;
    padding: 5px 10px;
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    font-family: "Kristen ITC";
    word-spacing: 5px;
}

.question .user a {
    font-style: italic;
    color: white;
}

.question .user a:hover {
    text-decoration: underline;
}

/* ANSWERS */

.answer {
    background: #ebeef1;
    border: 3px solid #e0e2e3;
    border-radius: 6px;
    padding: 30px 10px;
    height: 100px;
    text-align: center;
    margin: 0 0 70px 0;
}

.answer .tags {
    position: absolute;
}

.answer .user {
    position: absolute;
    width: 200px;
    margin: 40px 0 0 165px;
    color: #000;
    font-size: 14px;
    border: 1px solid;
    background: #b3e269;
    padding: 5px 10px;
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    font-family: "Kristen ITC";

}

.answer .stars {
    display: block;
    position: absolute;
    width: 58px;
    height: 58px;
    background: url('../img/star.png') no-repeat center;
    margin: -70px 0 0 710px;
    padding: 30px 0 0 0;
    color: #0083d7;
    font-size: 25px;
    font-family: "Kristen ITC";
}

.answer .a {
    color: #5f6b72;
    width: 600px;
    display: block;
    font-size: 26px;
    font-family: "Kristen ITC";
    line-height: 40px;
        height: 80px;
    margin: 0 0 0 50px;
}

/* RIGHT */

.right { 
    margin: 40px 0 0 0;
}

.login {
    padding: 20px;
    border: 2px solid #bdd4d6;
    background: #d3e7e9;
    margin: 0 0 25px 0;
    border-radius: 6px;
}

.login h2 {
    color: #aa0d54;
    font-size: 35px;
    font-family: "Kristen ITC";
    margin: 0 0 20px 0;
}

.login input {
    font-family: "Kristen ITC";
}

.login #email {
    background: #fff;
    width: 300px;
    padding: 10px;
    color: #bdd4d6;
}

.login #password {
    background: #fff;
    width: 300px;
    padding: 10px;
    color: #bdd4d6;
}

.login #submit {
    background: #aa0d54;
    border: 2px solid #910e49;
    color: #fff;
    font-family: "Kristen ITC";
    font-size: 16px;
    padding: 5px;
    border-radius: 6px;
    width: 110px;
}

.register {
    padding: 20px;
    border: 2px solid #bdd4d6;
    background: #d3e7e9;
    margin: 0 0 30px 0;
    border-radius: 6px;
}

.register h2 {
    color: #aa0d54;
    font-size: 35px;
    font-family: "Kristen ITC";
    margin: 0 0 20px 0;
}

.register input {
    font-family: "Kristen ITC";
    width: 300px;
}

.register #email {
    background: #fff;
    padding: 10px;
    color: #000;
}

.register #name {
    background: #fff;
    padding: 10px;
    color: #000;
}

.register #password {
    background: #fff;
    padding: 10px;
    color: #000;
}

.register #submit {
    background: #aa0d54;
    border: 2px solid #910e49;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    border-radius: 6px;
    width: 140px;
}

.top-3 {
    background: #0083d7;
    border: 2px solid #0967a3;
    padding: 20px;
    font-family: "Kristen ITC";
    border-radius: 6px;
    margin: 0 0 30px 0;
}

.top-3 h2 {
    color: #fff;
    font-size: 35px;
    margin: 0 0 20px 0;
}

.top-3 li {
    height: 40px;
    padding: 18px 0 0 60px;
    background: url('../img/top-bg.png') no-repeat left;
}

.top-3 li span {
    position: absolute;
    margin: -4px 0 0 -42px;
    font-size: 30px;
    color: #fff;
}

.top-3 li a {
    color: #fff;
    font-size: 20px;
}

/* SOCIAL */

.social {
    background: #b3e269;
    border: 2px solid #a5ce65;
    border-radius: 6px;
    padding: 23px;
    1ine-height: 60px;
    margin: 0 0 30px 0;
}

.social li {
    float: left;
    margin: 0 18px 0 0;
    height: 64px;
}

.social img {
    display: block;
}

/* CATEGORIES */

.categories h1 {
    font-size: 30px;
    margin: 0 0 30px 0;
    font-family: "Kristen ITC";
    background: #d8347e;
    border-radius: 6px;
    color: white;
    padding: 10px;
    text-align: center;
}

.categories .last {
    margin-right: 0;
}

.category {
    padding: 10px;
    width: 216px;
    margin: 0 30px 30px 0;
    font-size: 20px;
    font-family: calibri;
    float: left;
    box-shadow: 1px 3px 3px #aaa;
    position: relative;
    background: #f8f8f8 url('../img/categories/6.png') no-repeat;
    border-radius: 4px;
    height: 150px;
}

.category .name {
    font-size: 18px;
    font-family: calibri;
    background: #d8347e;
    font-weight: bold;
    color: white;
    display: block;
    margin: 0 0 50px -5px;
    padding: 2px;
    text-align: center;
    border-bottom: 2px solid #aa0d54;
}

.category-question {
    font-size: 14px;
    position: absolute;
    background: transparent url('../img/categories/bg-cat-q.png') no-repeat;
    margin: 0 0 0 -10px;
    border-radius: 4px;
    padding: 5px;
}

.category-question .cat-q {
    font-size: 14px;
    line-height: 20px;
    text-shadow: 0px 1px 0px white;
    color: #1f1f1f;
    display: block;
    margin: 0 0 10px 0;
    clear: both;
}

.category-question .cat-a {
    font-size: 12px;
}

/* FOOTER */

.footer {   
    background: #d8347e;
    padding: 20px;
    border-top: 2px solid #aa0d54;
    margin: 50px 0 0 0;
}
.footer-bottom {   
    background: #aa0d54;
    padding: 20px;
}

.footer h2 {
    color: #fff;
    font-size: 14px;
    font-family: calibri;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.footer li {
    1margin: 0 0 0 18px;
    padding: 2px 0;
    1list-style-type: circle;
    color: #fff;
}

.footer li a {
    color: #fff;
    font-size: 12px;
    font-family: calibri;
}
.footer-bottom, .footer-bottom a {
    font-size: 12px;
    font-family: calibri;   
    color: #fff;
}

/* PROFILE */

#profile {
    padding: 20px;
    border: 2px solid #bdd4d6;
    background: #d3e7e9;
    margin: 0 0 25px 0;
    border-radius: 6px;
}

#profile h2 {
    color: #aa0d54;
    font-size: 35px;
    font-family: "Kristen ITC";
    margin: 0 0 20px 0;
}

#profile .user_info {
    margin: 0 0 20px 0;
    background: #8ec1e2;
    border-radius: 6px;
    padding: 10px;
}

#profile .user_info li {
    font-size: 16px;
    color: white;
    padding: 10px 0 10px 30px;
}

#profile .user_info li span {
    display: block;
    font-size: 24px;
    margin: 0 20px 0 0;
}

#profile .user_info li a {
    color: white;
}

#profile .short_nav {
    margin: 0 0 20px 0;
    background: #8ec1e2;
    border-radius: 6px;
    padding: 10px;
}

#profile .short_nav li {
    font-size: 16px;
    color: white;
    padding: 10px 0 10px 30px;
}

#profile .short_nav li a {
    font-size: 16px;
    color: white;
    border-bottom: 2px solid;
    padding: 0 0 5px 0;
}

#profile .short_nav li span {
    font-size: 24px;
}

#profile .asked {
    background: url('../img/info/asked.png') no-repeat left;  
}

#profile .answered {
    background: url('../img/info/answered.png') no-repeat left;  
}

#profile .edit {
    background: url('../img/info/edit.png') no-repeat left;  
}

#profile .logout {
    background: url('../img/info/logout.png') no-repeat left;  
}

#profile .edit a {
    margin: 0 0 20px 0;
}

/* NOTIFICATIONS */

#notifications {
    padding: 20px;
    border: 2px solid #bdd4d6;
    background: #d3e7e9;
    margin: 0 0 30px 0;
    border-radius: 6px;
}

#notifications h2 {
    color: #aa0d54;
    font-size: 35px;
    font-family: "Kristen ITC";
    margin: 0 0 20px 0;
}

#notifications a {
    font-size: 20px;
    display: block;
    width: 250px;
    color: white;
    font-family: "Kristen ITC";
}

#notifications .answers {
    padding: 0 0 0 80px;
    height: 62px;
    background: url('../img/notifications/1.png') no-repeat left;
}

/* OVERVIEW */

#overview {

}

#overview h1 {
    font-size: 30px;
    margin: 0 0 50px 0;
    font-family: "Kristen ITC";
    background: #d8347e;
    border-radius: 6px;
    color: white;
    padding: 10px;
    text-align: center;
}

/* ERRORS */

.error {
    background: red;
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-family: calibri;
}

/* FORMULIEREN */

.formulier label {
    padding: 5px;
    color: black;
    font-family: "Kristen ITC";
    font-size: 24px;
    margin: 0 0 20px 0;
}

.formulier textarea {
    width: 500px;
    height: 100px;
    margin: 0 0 20px 0;
}

.formulier .submit {
    width: 200px;
}

/* ZOEKEN */

.search-input {
    width: 750px;
    color: black;
    padding: 10px !important;
    margin: -20px 0 0 0;
}

.tab {
    font-family: "Kristen ITC";
    font-size: 16px;
}

#myTab .active a {
    color: #d8347e;
}

#results-questions {
    margin: 0 0 30px 0;
}

#results-questions li {
    padding: 10px 0 10px 20px;
    background: #b3e269;
    font-family: "Kristen ITC";
    height: 19px;
    border-radius: 6px;
    margin: 0 0 10px 0;
}

#results-questions a {
    font-size: 20px;
    font-family: "Kristen ITC";
    color: white;
}

#results-questions a span {
    background: yellow;
    color: green;
}

#results-answers {
    margin: 0 0 30px 0;
}

#loadmore {
    display: block;
    color: black;
    padding: 10px 15px;
    background: #d8347e;
    color: white;
    font-family: "Kristen ITC";
    width: 100px;
    cursor: pointer;
    border-radius: 6px;
}

.noresults {
    margin: 0 0 30px 0;
    background: red;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-family: "Kristen ITC";
}

/* ANTWOORDEN */

#answer_form {
    padding: 10px;
    margin: 0 0 30px 0;
}

#answer_form label {
    font-size: 30px;
    font-family: "Kristen ITC";
    color: white;
    background: #b3e269;
    width: 370px;
    padding: 10px;
}

#answer_form textarea { 
    width: 740px;
    height: 200px;
}

#answer_form .submit {
    width: 200px;
    font-size: 24px;
    font-family: "Kristen ITC";
    padding: 10px 0;
}